<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- 扫描controller -->
	<context:component-scan
		base-package="com.yeqifu.sys.controller"></context:component-scan>
	<context:component-scan
		base-package="com.yeqifu.bus.controller"></context:component-scan>
	<context:component-scan
		base-package="com.yeqifu.stat.controller"></context:component-scan>
	<!-- 配置映射器和适配器 -->
	<mvc:annotation-driven></mvc:annotation-driven>

	<!-- 配置前端视图解析器 -->
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<!-- 注入前后缀 -->
		<property name="prefix" value="/WEB-INF/view/"></property>
		<property name="suffix" value=".jsp"></property>
	</bean>

	<!-- 配置springmvc对文件上传的支持 -->
	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<!-- 设置文件名的编码 -->
		<property name="defaultEncoding" value="utf-8"></property>
		<!-- 配置最上传文件的支持 20M -->
		<property name="maxUploadSize" value="20971520"></property>
		<!-- 设置文件上传的临时目录 -->
		<property name="uploadTempDir" value="upload/temp" />
	</bean>

	<!-- 设置静态资源不过滤 -->
	<mvc:resources location="/css/" mapping="/css/**" />
	<mvc:resources location="/images/" mapping="/images/**" />
	<mvc:resources location="/js/" mapping="/js/**" />

	<!-- 配置静态文件放行 -->
	<mvc:default-servlet-handler />

</beans>
